body {
    font-family: Montserrat;
    background-color:  #030027;
    margin: 0;
    padding: 0;
}



.container {
    max-width: 30%;
    margin: 100px auto;
    margin-bottom: 20px;
    background-color: #fff;
    padding: 50px;
    border-radius: 8px;
    box-shadow: 0 0 20px #433d8d;
}

.container__title{
    margin: 0;
}

.container__usuario__title{
    font-weight: 500;
    margin-bottom: 0;
}

.container__usuario__descripcion{
    font-weight: 500;
    font-size: 17px;
}


.btn {
    margin-top: 10px;
    background-color: #433d8d;
    border: 3px solid #433d8d;
    padding: 10px 20px;
    color: #fff;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.2s, color 0.2s; 
    

}

.btn:hover {
    background-color: transparent; 
    color: #433d8d;
}

.btn__text{
    margin: 3px;
    text-transform: uppercase;
    font-family: Montserrat;
    font-weight: 500;
}   

.descripcion__tarea {
    display: flex;
}

.descripcion__tarea__text{
    width: 100%;
    font-family: montserrat;
    margin: 15px 0;
    border: 2px solid #433d8d;
    outline: none;
    border-radius: 8px;
    padding: 15px;
    color: #030027;  
    font-weight: 600;
    font-size: 16px;
}

.fas.fa-plus{
    padding: 10px;
    margin: auto 20px;
    color: #fff;
    background-color: #433d8d;
    border-radius: 50%;
    
}

.seccion-tarea{
    margin: auto;
    max-width: 40%;
    color: #fff;

}

.seccion-tarea li {
    max-width: 70%;
    margin: auto 130px;
    text-align: center;
    display: flex;
    background-color: #433d8d;
    border-radius: 8px;
    padding: 5px 20px;
    align-items: center;
    justify-content: space-around;
    color: #fff;  
    font-size: 20px;
}
